<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseController.Properties.Settings.MONEYSPLITConnectionString"
            connectionString="Data Source=DESKTOP-V80Q6D3\SQLEXPRESS;Initial Catalog=MONEYSPLIT;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseController.Properties.Settings.MONEYSPLITConnectionString1"
            connectionString="Data Source=DESKTOP-V80Q6D3\SQLEXPRESS;Initial Catalog=MONEYSPLIT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseController.Properties.Settings.MONEYSPLIT1ConnectionString"
            connectionString="Data Source=DESKTOP-V80Q6D3\SQLEXPRESS;Initial Catalog=MONEYSPLIT1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseController.Properties.Settings.MONEYSPLITConnectionString2"
            connectionString="Data Source=DESKTOP-V80Q6D3\SQLEXPRESS;Initial Catalog=MONEYSPLIT;Integrated Security=True;Connect Timeout=30;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>